      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>Select a Pokémon</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <pre></pre>
          <mat-list>
            <mat-list-item (click)="selected.emit(person)"
             *ngFor="let person of person">
              <h3 mat-line>
                {{person.name}}
              </h3>
              <p mat-line>
                {{person.type}}
              </p>
              <button mat-icon-button
                (click)="deleted.emit(person);$event.stopImmediatePropagation()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
